@import "bootstrap-sprockets";
@import "bootstrap";


.wrapper{
  width: 80%;
  margin-left: 10px;
  margin-top: 10px;
}

.admin-top {
  // display: flex;
  background-color: mediumblue;
  color: white;
}

.admin-top.item{
  margin:0px 15px;
}

input[type="date"] {
        width: 200px;
        height: 30px;
    }

.paging{
  display: flex;
  margin-bottom: 30px
}

.paging h3{
  margin: 0px 20px;
}

.btn-excel{
  color: mediumblue;
  margin: 10px 30px;
  padding: 10px 20px;
  font-weight: bold;
  border-color: mediumblue;
}

.btn-admin-top{
  background-color: mediumblue;
  color: white;
  margin: 10px 10px;
  padding: 10px 30px;
  font-weight: bold;
}

.schedule-input-btn{
  background-color: mediumblue;
  margin: 10px 30px;
  padding: 10px 20px;
  font-weight: bold;
}

.list{
  list-style: none;
}

.month{
  display: none;
}

.namonth{
  display: none;
}

.active{
  display: block;
}
