@import "bootstrap-sprockets";
@import "bootstrap";


.wrapper{
  width: 80%;
  margin-left: 10px;
  margin-top: 10px;
}


input[type="date"] {
        width: 200px;
        height: 30px;
    }

.paging{
  display: flex;
  margin-bottom: 30px
}

.paging h3{
  margin: 0px 20px;
}

.btn-excel{
  margin: 10px 30px;
  padding: 10px 20px;
  font-weight: bold;
}

.schedule-input-btn{
  margin: 10px 30px;
  padding: 10px 20px;
  font-weight: bold;
}

.list{
  list-style: none;
}

.month{
  display: none;
}

.namonth{
  display: none;
}

.active{
  display: block;
}
