<h3><%= Date.current.next_month.month %>月の勤務予定</h3>
<table class="workschedule_table table table-hover" >
  <thead>
    <tr>
      <th style="width:20%">日時</th>
      <th style="width:20%">勤務形態</th>
      <th style="width:20%">削除</th>
    </tr>
  </thead>
  <% @ws_nextmonth_na.each do |w|  %>
  <tbody>
    <tr>
      <td><%= w.wdate.strftime("%Y年%m月%d日(#{@week_days[w.wdate.wday]})") %></td>
      <td><%= link_to Status.find(w.status_id).status, edit_workschedule_path(w) %></td>
      <td><%= link_to "予定削除", workschedule_path(w), method: :delete, data:{confirm:"削除してよろしいですか?"} %></td>
    </tr>
  </tbody>
  <% end %>
</table>
