<%= javascript_pack_tag 'ws' %>
<div class="container">
  <h1>adminのページ</h1>
  <div class="buttons">
    <button type="button" name="button" class="btn btn-admin-top" id="admin_lastmonth_btn" >先月</button>
    <button type="button" name="button" class="btn btn-admin-top" id="admin_thismonth_btn" >今月</button>
    <button type="button" name="button" class="btn btn-admin-top" id="admin_nextmonth_btn" >来月</button>
  </div>
  <ul class="list">
    <li class="month admin_lastmonth"><%= render 'layouts/index-admin-lastmonth' %></li>
    <li class="month admin_thismonth active" ><%= render 'layouts/index-admin-thismonth' %></li>
    <li class="month admin_nextmonth" %><%= render 'layouts/index-admin-nextmonth' %></li>
  </ul>
</div>
